body {
    margin: 0px;
    background: linear-gradient(180deg, #000000, #0e0419, #14082b, #150b3d, #140b51, #0f0b65, #01097a);

  }
  .nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: #1b1b1b;
  }
  
  .navbar-logo {
    justify-self: start;
    margin-left: 30px;
    color: #fff;
    margin-top: 4vh;
    cursor: pointer;
  }
  
  .ver-carrito {
    font-size: 45px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
  }
  

  .banner {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url(./PS5/BannerPagina.jpg);
  }
  
  .banner-container {
    text-align: center;
    padding: 15% 0;
  }
  
  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 62px;
    font-weight: bold;
  }
  
  .banner p {
    font-size: 30px;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  

  .contenidoCarritoCSS {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 10px;
  }
  
  .card > img {
    width: 100%;
    height: 250px;
  }
  
  .Precio {
    color: black;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
  /*Modal*/
  .modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Para el inicio*/
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
  }
  
  .modal-container::-webkit-scrollbar {
    display: none;
  }
  .modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #0a0909;
    color: #fff;
    width: 100%;
  }
  
  .modal-header-title {
    justify-self: start;
  }
  
  .modal-header-button {
    cursor: pointer;
  }
  
  .modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
  }
  
  .modal-container > div > img {
    height: 120px;
    width: 120px;
  }
  
  .total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
  }
  
  /*Alert Style*/
  .alert {
    padding: 16px 24px;
    position: fixed;
    right: 10px;
    background: #1b1b1b;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 8px;
    display: none;
  }
  
  .alert-border {
    border: 2px solid #127247;
  }
  
  .delete-product {
    cursor: pointer;
  }
  
  .cantidad-carrito {
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
  }
  
  .sumar {
    cursor: pointer;
  }
  
  .restar {
    cursor: pointer;
  }

  .finalizar-compra {
    text-decoration: none;
    display:inline-block;
    margin-bottom: 10px;
    width:30%;
    padding:20px;
    border: 3px solid black;
    border-radius:50px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    transition: all 0.9s;
    text-align: center;
    font-size: 20px;
  }
  .finalizar-compra:hover{
    background:black;
    color:white;
  }


